%h1 Organization Categories

%div.box
  %span.hmenu
    = icon 'Plus', new_admin_org_category_path
    = link_to 'Add a new category', new_admin_org_category_path

  %div
    %table#org_categories.full_width
      %tr
        %th Title
        %th Delete
      - for cat in @org_categories
        %tr[cat]{ :class => cycle('odd','even') }
          %td.org_category_title= link_to(h(cat.title), edit_admin_org_category_path(cat))
          %td.small= trash_icon(cat, admin_org_category_path(cat), h(cat.title))
        
