%h1 Organization Types

%div.box
  %span.hmenu
    = icon 'Plus', new_admin_org_type_path
    = link_to 'Add a new organization type', new_admin_org_type_path

    = icon "Dots Down", admin_orgs_path
    = link_to "View Organizations", admin_orgs_path

  =render :partial => "org_type_list", :locals => {:org_types => @org_types}
        
